@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: firstFont;
	src: url(fonts/AmaticSC-Bold.ttf);
}

@font-face {
font-family: secondFont;
src: url(fonts/JosefinSans-Regular.ttf);
}

body{
	height:auto;
	margin: 0px;
	padding: 0px;
	background-image: url("images/overlay.png"), linear-gradient(45deg, #38ef7d 15%, #11998e 85%);
	background-repeat: repeat;
}

#logo{
	margin-left: 20px;
	margin-top: 20px;
	max-width: 75%;
	max-height: 75%;
}

.wrapper{
	margin-left: 7.5%;
	margin-right: 7.5%;
	height: 100%;
	width: 85%;
}

.header{
	height: 300px;
	width: 100%;
	text-align: center;
}

#title{
	display:inline-block;
	vertical-align: top;
	margin-top: 40px;
	margin-left:20px;
	margin-right: 20px;

}

#intro{
	height: 150px;
	margin-top: 75px;
	width: auto;
	min-width: 500px;
	border-radius: 100px;
	background-color: whitesmoke;
	text-align: left;
	display: inline-block;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.692);
}

.seperator{
	height:75%;
	width:2px;
	display: inline-block;
	background-image: linear-gradient(0deg,#11998e 15%, #38ef7d 85%);
}
.container{
	height: 1000px;
	width: 100%;
	border-radius: 6px;
	background-color: #F5F5F5;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.692);
	margin-bottom: 5em;
}

.details{
	vertical-align: top;
	margin-top: 50px;
	margin-left:20px;
	margin-right:20px;
	display:inline-block;
	font-family: secondFont;
	font-size: 1em;
}

h1{
	font-family: firstFont;
	font-size: 3em;
}